body {
    font-family: Poppins;
}
.text-primary {
    color: #5ba5f3;
}
.bg-primary {
    background: #5ba5f3
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('assets/images/hero-2.png');
    background-size: cover;
    background-position: center;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 2rem;
    /* width: 320px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo {
    max-width: 16rem;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.9);
}

.selected-card {
    border: 2px solid #007bff;
}

.selected-oval {
    background-color: rgb(0, 123, 255) !important;
    color: white;
}

.es-navbar {
    max-width: 1920px;
}